* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height: 100%;
	width: 100%;
	color: black;
}

canvas {
	max-width: 800px;
	width: 100%;
	background-color: aqua;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.canvas-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
